<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="62873DahlmanLabs.NinjaNotes" Publisher="CN=14946E2A-F8E4-43EE-9614-21D7694D3EB3" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="ea0773c6-97ed-4fc4-9d16-59c14a423b85" PhonePublisherId="8d9da3f2-21d0-4663-824d-1213bd3627c1" />
  <Properties>
    <DisplayName>NinjaNotes.App</DisplayName>
    <PublisherDisplayName>Dahlman Labs</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="xea0773c6y97edy4fc4y9d16y59c14a423b85x" Executable="AGHost.exe" EntryPoint="Views/MainPage.xaml">
      <m3:VisualElements DisplayName="Ninja Notes" Square150x150Logo="Assets\SquareTile150x150.png" Square44x44Logo="Assets\Logo.png" Description="NinjaNotes" ForegroundText="light" BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="SplashscreenImage.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>